<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQuQLs4-eLVfJo4U7K3oSHkUXzQMRzpaU</string>
	<key>GCM_SENDER_ID</key>
	<string>620454234596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>world.petties.mobile</string>
	<key>PROJECT_ID</key>
	<string>petties-cd84e</string>
	<key>STORAGE_BUCKET</key>
	<string>petties-cd84e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620454234596:ios:f5591036fcb0ed880adff1</string>
	<key>DATABASE_URL</key>
	<string>https://petties-cd84e-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>